@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Pattaya&family=Playwrite+AU+VIC+Guides&family=Playwrite+IE+Guides&display=swap');
body {
    font-family: 'Playwrite AU VIC Guides', serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Pattaya", serif;
    font-weight: 200;
    font-style: normal;
    color: #8c9ca1;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 80vh;
    overflow-y: auto;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

pre {
    font-size: 2.535px;
    white-space: pre-wrap;
    word-wrap: break-word;
    opacity: 0;
    animation: reveal 1s forwards;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    width: 350px;
    overflow: hidden;
    height: 550px;
}

.line {
    height: 2.7px;
    width: 330px;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.5s forwards;
}

p,
span {
    color: #8c9ca1;
}

button#startButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px;
}

button#startButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}